body, html {
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: Arial;
	font-size: 25px;
}

article {
	position: relative;
	margin: 0 auto;
}

.hud {
	color: rgba(0,0,0,0.8);
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.hud .points {
	position: absolute;
	top: 10px;
	left: 10px;
}

.hud .lives {
	position: absolute;
	top: 10px;
	right: 10px;
}

#condor {
	background: #f1f1f1;
	position: relative;
}

@media(max-width:1024px) {

	.joystick {
		width: 100px;
		height: 100px;
		position: absolute;
		bottom: 20px;
		background: rgba(0,0,0,0.05);
		border-radius: 50px;
	}

	.joystick.left {
		left: 20px;
	}
	.joystick.right {
		right: 20px;
	}

}